.history-container {
    margin: 20px;
    width: 100%; /* Full width of the parent container */
    max-width: 2400px; /* Limit the width to 1200px for large screens */
    min-width: 1000px; /* Optional: Set a minimum width for smaller screens */
    margin-left: auto; /* Centering the block horizontally */
    margin-right: auto; /* Centering the block horizontally */
  }

  .history-container {
    margin: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between; /* Push the button to the right */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .create-inspection-btn {
    background-color: #4CAF50; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create-inspection-btn:hover {
    background-color: #45a049;
  }
  
  
  .filter-block {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adding shadow to the block */
    margin-bottom: 20px;
    max-width: 100%; /* Ensure it's responsive */
  }
  
  .filter-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Make the form container take full width */
  }
  
  .search-input-group {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping to next line if needed */
    justify-content: space-between; /* Distribute input and buttons across the width */
  }
  
  .label-input {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .label-input label {
    margin-bottom: 5px;
  }
  
  .search-button-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }
  
  .search-button-group button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-button-group button:disabled {
    background-color: #ccc;
  }
  
  .search-button-group button.clear-filters {
    background-color: #dc3545; /* Red color */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #1f7b44;
  }
  
  table th {
    background-color: #1f7b44;
    color: white;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
  }
  
  .pagination span {
    display: flex;
    align-items: center;
  }
  