.result-page {
    margin-top: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-side {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: center;
  }
  
  .left-side img {
    margin-bottom: 20px; /* Space between the image and buttons */
  }
  
  .left-side .buttons {
    display: flex; /* Arrange buttons in a row */
    gap: 10px; /* Space between the buttons */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  .right-side {
    width: 65%;
  }
  
  .info-block {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-block h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  